{% extends 'base.html.twig' %}

{% block title %}RentACar
{% endblock %}
		{{ include('./user/_nav.html.twig') }}
{% block body %}




		{% for flash_message in app.session.flashbag.get('error') %}
			<div class="flash-notice">
				{{ flash_message }}
			</div>
		{% endfor %}
		
		<a class="btn btn-success" href="/user/bill/list">Descargar listado de Facturas </a>
		<div class="table-responsive  pt-5 ">
			<table class="table table-secondary">
				<thead>
					<tr class="">
						<th scope="row">Num Factura</th>
						<th>Coche</th>
						<th>Fecha Creación</th>
						{% if owner == true %}
							<th> Usuario </th>
						{% endif %}

						<th colspan="2" style="text-align:center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for bill in bills %}
						<tr class="">
							<td scope="row">
								{{bill.id}}
							</td>
							<td> <a class="link-secondary" href="/user/car/{{bill.idCar.id}}">
								{{bill.idCar.getBrand}} {{bill.idCar.getModel}}
								</a>	
							</td>
							<td>
								{{bill.createdAt}}</td>
						{% if owner == true %}
							<td> {{bill.idUser.username}} </td>
						{% endif %}

							<td style=" text-align: center; vertical-align: middle;">
								<a target="_blank" class="btn btn-success" href="/user/bill/{{bill.id}}">Descargar</a>
							</td>


						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
		<div class="d-flex justify-content-end">
		<a href="/user/bill/all" class="btn btn-primary " >Descargar Todas las Facturas</a>
		</div>



</div>{% endblock %}
