{% extends 'base.html.twig' %}

{% block title %}RentACar
{% endblock %}

{% block body %}
	{{ include('./user/_nav.html.twig') }}

	<a href="{{path('cars_download')}}" class="m-5 btn btn-success">
		Descargar Coches
	</a>
	<div class="container d-flex overflow justify-content-start flex-wrap vh-50">
		{% for car in cars %}
			<div class="card m-2 vh-50" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{car.brand}}
						{{car.model}}</h5>
					<p class="card-text">
						<strong>Precio:</strong>
						{{car.price}}
						€</p>
					<a href="{{path('car_index', {'id': car.id})}}" class="btn btn-primary">Alquilar</a>
				</div>
			</div>
		{% endfor %}


	</div>
{% endblock %}
