{% extends './user/down.base.html.twig' %}


{% block body %}
	<style>
		p {
			border: 1px solid green;
			margin: 10px;
		}

		

		@media print {
			.jump {
				page-break-after: always;
				line-height: 1em;
			}
		}

		.jump {
			border: 2px solid green;
		}

		td {
			height: 0.1%;
			white-space: nowrap;
			margin: 0;
			max-height: 15px;
		}



	</style>
	{% for brand in brands %}
		<div class="jump">
			<div class="row">
				HEADER
			</div>
			<div class="row">
				<table class="table table-bordered ">
					<thead>
						<tr>
							<th colspan="7">
								{{brand['brand']}}
							</th>
						</tr>
						<tr>
							<th>Modelo</th>
							<th>Matrícula</th>
							<th>Precio</th>
							<th>Kilometraje</th>
							<th>Motor</th>
							<th>Color</th>
							<th>Dueño</th>
						</tr>
					</thead>
					<tbody>
						{% for car in cars %}
							{% if car.brand|capitalize == brand['brand']|capitalize  %}
										<tr class="" id='{{car.brand}}'>
											<td>{{car.model}}</td>
											<td>{{car.plate}}</td>
											<td>{{car.price}}€</td>
											<td>{{car.km?:'Desconocido'}}</td>
											<td>{{car.engine?:'Desconocido'}}</td>
											<td>{{car.color?:'Desconocido'}}</td>
											<td>{{loop.index}}</td>

										</tr>
							{% endif %}
						{% endfor %}
					</tbody>
			</div>
			<div class="row">
				FOOTER
			</div>
			</div>
		{% endfor %}
	{% endblock %}
